/target
**/*.rs.bk
/.idea
output.aux
output.log
output.pdf
output.synctex.gz
output.tex
/browser-extension/sidebar/index.html
/browser-extension/node_modules
/browser-extension/target
/browser-extension/dist
/browser-extension/pkg
/browser-extension/wasm-pack.log
