<div class="row">
    <div class="col">
        <h4>Education</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <form id="education">
            <% for education in educations %>
            <div class="form-group">
                <textarea class="form-control" rows="1" readonly><<education.institution>></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="1" readonly><<education.title>></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="1" readonly><<education.start>></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="1" readonly><<education.end>></textarea>
            </div>
            <% endfor %>
        </form>
    </div>
</div>