<div class="row">
    <div class="col">
        <h4>Settings</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <form>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="clipboard">
                <label class="form-check-label" for="clipboard">Copy to clipboard on click</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="suggestions">
                <label class="form-check-label" for="suggestions">Show suggestions</label>
            </div>
        </form>
    </div>
</div>